<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>

<body>

    <div class="data">
    <form action="/api" method="post">
        <button type="submit" id="get_data">Get Data</button>
    </form>
    <br><br>
    <p>Data successfully saved to database.
        <br><br>
        Thank you for signing up!
    </p>
    </div>
</body>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #c4c2c2;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .data {
        background-color: #395169;
        padding: 30px;
        width: 300px;
        align-items: center;
        border-radius: 10px;
        color:#FFF;
    }

    button {
        width: 100%;
        padding: 10px;
        background-color: #28a745;

    }
</style>

</html>